# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# Express.js
dist/

# MongoDB
dump/
data/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# .vscode
.vscode/

# Heroku
node_modules/
dist/
.env
